<link href="~/Content/site.css" rel="stylesheet" />

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <!-- Cột 1: Giới thiệu -->
            <div class="footer-col">
                <h3>Vựa Hải Sản</h3>
                <p>Hệ thống bán lẻ hải sản tươi sống tại Bình Dương</p>
                <p><i class="fa fa-map-marker"></i> 363 xóm 21, Chí Công, Tuy Phong, Bình Thuận</p>
                <p><i class="fa fa-phone"></i> 0356653497 - </p>
                <p><i class="fa fa-envelope"></i> lienhe@Haisan.vn</p>
            </div>

            <!-- Cột 2: Về chúng tôi -->
            <div class="footer-col">
                <h4>Về chúng tôi</h4>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>

                </ul>
            </div>

            <!-- Cột 3: Thông tin cần biết -->
            <div class="footer-col">
                <h4>Thông tin cần biết</h4>
                <ul>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Chính sách giao hàng</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Chính sách thanh toán</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <!-- Cột 4: Danh mục & Mạng xã hội -->
            <div class="footer-col">
                <h4>Danh mục hải sản</h4>
                <ul>
                    <li><a href="#">Ghẹ</a></li>
                    <li><a href="#">Cua</a></li>
                    <li><a href="#">Mực</a></li>
                    <li><a href="#">Bạch tuộc</a></li>
                </ul>
                <h4>Kết nối</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/share/1AQnbdmw3Y/" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook">
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Twitter">
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>