<link href="~/Content/site.css" rel="stylesheet" />

<div class="container-slider">
    <div id="carousel1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1"></li>
            <li data-target="#carousel1" data-slide-to="2"></li>
            <li data-target="#carousel1" data-slide-to="3"></li>
            <li data-target="#carousel1" data-slide-to="4"></li>
            <li data-target="#carousel1" data-slide-to="5"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 1">
                <div class="carousel-caption">
                    <h5>Quảng cáo 1</h5>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 2">
                <div class="carousel-caption">
                    <h5>Quảng cáo 2</h5>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 3">
                <div class="carousel-caption">
                    <h5>Quảng cáo 3</h5>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 4">
                <div class="carousel-caption">
                    <h5>Quảng cáo 4</h5>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 5">
                <div class="carousel-caption">
                    <h5>Quảng cáo 5</h5>
                </div>
            </div>
            <div class="item">
                <img src="~/Images/slide2.jpg" class="img-responsive" alt="Slide 6">
                <div class="carousel-caption">
                    <h5>Quảng cáo 6</h5>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel1" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel1" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
